/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
    --linear-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)); /*(active input border)*/
    --red: hsl(0, 100%, 66%); /*(input errors)*/

    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

body{
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #222;
}

.hidden{
    display: none !important;
}

.container{
    width: 80%;
    max-width: 375px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* card head start */

.card-head{
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}

.card-back, .card-front{
    width: 280px;
    position: absolute;
}

.card-back{
    top: 10%;
    right: 5%;
}

.card-back-cvc{
    position: absolute;
    color: white;
    font-size: .7rem;
    top: 49%;
    left: 84%;
    transform: translate(-50%, -50%);
}

.card-front{
    top: 39%;
    left: 5%;
}

.card-front-info{
    position: absolute;
    inset: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 60px;
}

.card-front-number{
    color: white;
    padding-bottom: 1rem;
    letter-spacing: 2.5px;
}

.card-name-date{
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    font-size: .7rem;
}

/* card head end */

/* form start */

.form-area{
    width: 90%;
    margin-inline: auto;
}

.form-flex{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

label{
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--very-dark-violet);
}

.top-form-input{
    width: 100%;
}

.form-bottom{
    display: flex;
    gap: .7rem;
}

.form-bottom input{
    width: 100%;    
}

.form-date,.form-year{
    width: 30%;
}

.form-cvc{
    width: 60%;
}

.form-input{
    border: 1px solid var(--light-grayish-violet);
    border-radius: 5px;
    color: var(--dark-grayish-violet);
    padding: .5rem;
}

.button{
    text-decoration: none;
    background-color: var(--very-dark-violet);
    text-align: center;
    color: white;
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 5px;
    cursor: pointer;
}

.error-text{
    position: absolute;
    color: var(--red);
    font-size: .6rem;    
}

input:required{
    border: 1px solid var(--red);
}

input:valid{
    border: 1px solid green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* form end */
/* complete section start */

.complete-section{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: auto;
    text-align: center;
    gap: 1rem;
}

.complete-logo{
    width: 80px;
    margin-inline: auto;
}

.complete-thanks{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--very-dark-violet);
}

.complete-info{
    color: var(--dark-grayish-violet);
}

/* complete section end */

.attribution{
    width: 90%;
    margin-inline: auto;
    color: var(--very-dark-violet);
    font-size: .8rem;
    text-align: center;
    margin-bottom: 1rem;
}

.attribution a{
    text-decoration: none;
    color: var(--very-dark-violet);
    transition: .2s ease-in;
}

.attribution a:hover{
    color: var(--dark-grayish-violet);
}

@media (min-width: 1100px) {
    .container{
        max-width: 1100px;
    }

    .desktop-container{
        display: flex;
    }

    .card-head{
        background-image: url(images/bg-main-desktop.png);
        width: 35%;
        height: 600px;
    }

    .card-back{
        top: 50%;
        right: -35%;
    }

    .card-front{
        top: 20%;
        left: 45%;
    }

    .desktop-form-container{
        width: 60%;
        max-width: 350px;
        position: absolute;
        top: 50%;
        left: 68%;
        transform: translate(-50%, -50%);
    }
}